.modalBackground {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
  
.modalContainer {
    width: 500px;
    padding: 30px 80px;
    border-radius: 12px;
    background: linear-gradient(180deg, var(--teritiary-color), var(--secondary-bg));
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
}
  
.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}
  
.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
  
.modalContainer .body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}
  
.modalContainer .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 5px;
}
  
.modalContainer .footer button {
    border: none;
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    /* color: var(--primary-bg); */
    /* background-color: white; */
    letter-spacing: 0px;
    flex: 1;
    padding: 10px;
    height: 50px;
}

.modalContainer .footer button:hover {
    color: var(--primary-color);
    background-color: white !important;
}
  
.cancelBtn {
    background: white !important;
    color: var(--primary-bg) !important;
}

.cancelBtn:hover {
    background: linear-gradient(to right,var(--secondary-bg) , var(--primary-bg)) !important;
    color: white !important;
}
