.modalBackground {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
  
.modalContainer {
    width: 500px;
    padding: 30px 0;
    border-radius: 12px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
}
  
.modalContainer .title {
    text-align: center;
    font-size: 18px;
    color: #BEBEBE;
    transition: color 0.4s ease;

}
.formSection {
    padding: 30px 50px 20px 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.title:hover {
    color: var(--secondary-color);
}

.modalContainer .footer {
    padding: 15px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer button {
    width: 40%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.4s ease,background-color 0.4s ease, color 0.4s ease;
}

.cancelBtn {
    background: none;
    border: 1px solid var(--text-color);
    color: #BEBEBE;
}

.cancelBtn:hover {
    border: 2px solid #BEBEBE;
    color: var(--text-color);
}
  
.confirmBtn {
    background-color: var(--secondary-color);
}

.confirmBtn:hover {
    color: var(--secondary-color);
    background: none;
    border: 2px solid var(--secondary-color);
}