.wrapper {
    width: 1200px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .title {
    font-weight: 900;
    font-size: 24px;
    color: var(--primary-color);
    transition: color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ibex {
    width: 50px;
}

.title:hover {
    color: white;
}

.navbar {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}

.navItem {
    color: white;
    padding: 2px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in-out ; 
    cursor: pointer;
}

.navItem:hover {
    border-bottom-color: var(--primary-color); 
}

.navbar .active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
  }
