.section {
    width: 85%;
    height: 100vh;
    float: right;
    background: #f9fafc;
    color: black;
    display: flex;
}

.messages {
    width: 25%;
    height: 100vh;
    border-right: 2px solid #BEBEBE;
}

.title {
    width: 100%;
    height: 10%;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.title span {
    font-family: Georgia, serif;
    font-weight: bolder;
    display: flex;
    gap: 3px;
}

.messageContainer {
    width: 75%;
    height: 100vh;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.search input {
    width: 100%;
    height: 40px;
    border: 1.5px solid #BEBEBE;
    color:  var(--text-color);
    border-radius: 25px;
    padding: 0 30px 0 20px;
    font-weight: 500;
}

.search span {
    position: relative;
    right: 25px;
    font-size: 18px;
}
.userSection {
    overflow-y: auto;
    position: relative;
    height: calc(100vh - 10vh - 100px);
    scrollbar-width: none;
    top: 20px;
    scroll-behavior: smooth;
}
.userSection::-webkit-scrollbar {
    display: none;
}
.userContainer {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 50px;
    gap: 20px;
    font-size: 20px;
}

.navbar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.messageSection {
    height: 100vh;
}
.container {
    margin: 0 25px 25px 25px;
    background: white;
    height: calc(100% - 25px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.activeUser {
    width: 90%;
    height: 10%;
    border-bottom: 1px solid #BEBEBE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.activeUser img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.activeUser span {
    letter-spacing: 1px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
}
.userDetails {
    display: flex;
    align-items: center;
    gap: 20px;
}
.options {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.content {
    width: 100%;
    height: 80%;
    padding: 25px 25px 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.content::-webkit-scrollbar {
    display: none;
}
.content .sent {
    padding: 10px;
    border-radius: 15px 0 15px 15px;
    min-width: 20%;
    max-width: 35%;
    align-self: flex-end;
    color: #BEBEBE;
    background-color: var(--text-color);
    font-size: 14px;
}

.content .receive {
    padding: 10px;
    border-radius: 0 15px 15px 15px;
    min-width: 20%;
    max-width: 35%;
    color: var(--text-color);
    background-color: #BEBEBE;
    align-self: flex-start;
    font-size: 14px;
}

.inputContainer {
    width: 100%;
    height: 10%;
    padding: 15px 30px;
    position: relative;
    font-size: 18px;
}

.inputContainer input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #BEBEBE;
    color: var(--text-color);
    padding: 0px 40px;
    font-size: 14px;
    letter-spacing: 1px;
}
input:focus-visible {
    outline: none;
}
.inputAction {
    position: absolute;
    display: flex;
    gap: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer;
}
.emoji {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 40px;
    display: flex;
    cursor: pointer;
}