:root {
  --primary-color: #000000;
  --secondary-color: #FAB316;
  --text-color: #585858;
  --teritiary-color: #F1F1F1;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
      width: 10px;      
  }
  &::-webkit-scrollbar-thumb {
      background-color:  var(--teritiary-color);
      border-radius: 6px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;;   
}

body {
  margin: 0px;
  background-color: var(--primary-color);
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill::selection {
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white;
}
